<div class="container mx-auto">
    <div class="flex flex-col items-center p-4">
      <h1 class="text-red-500 text-5xl text-center font-bold p-4">
        Curb-Mounted Skylight Calculator
      </h1>
  
      <div class="flex flex-col max-w-lg rounded overflow-hidden shadow-lg">
        <p
          class="text-red-400 text-base italic font-medium tracking-wide leading-snug text-center p-4"
        >
          To use this calculator, measure the outside curb,
          <u>including flashing</u> of the skylight curb on the roof as shown
          below
        </p>
        <img
          class="w-full"
          src="../../../assets/measurecurb.jpg"
          alt="Photo showcasing where to measure a curb-mounted skylight"
        />
        <form (ngSubmit)="onSubmit()" [formGroup]="measurementForm">
          <div
            class="flex flex-col align-middle p-3 static"
            [ngClass]="{ hidden: showMenu, flex: !showMenu }"
          >
            <div class="w-full md:w-3/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="ocdw"
              >
                Outside Curb Dimension Width
              </label>
              <input
                class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="ocdw"
                type="number"
                placeholder="OCD in inches"
                step=".0001"
                required
                formControlName="ocdw"
              />
            </div>
            <div class="w-full md:w-3/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-ocdh"
              >
                Outside Curb Dimension Height
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="ocdh"
                type="number"
                placeholder="OCD in inches"
                step=".0001"
                formControlName="ocdh"
              />
            </div>
            <div class="w-full md:w-3/4 px-3">
              <button
                class="shadow bg-red-500 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 m-4 rounded"
                type="submit"
                [disabled]="!measurementForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
          <div *ngIf="showCurbSize" >
            <div>
              <p class="text-justify p-2">
                A standard Velux Skylight will fit your outside curb dimension.
                FCM {{ curbMount?.sizeCode }} will be what you need to use. If
                your OCD is smaller then {{ curbMount?.outsideCurbWidth }}" and
                {{ curbMount?.outsideCurbHeight }}", you will need to furr out
                your curb to those dimensions.
              </p>
            </div>
            <button
              class="shadow bg-red-500 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 m-4 rounded"
              type="button"
              (click)="onReset()"
            >
              Reset
            </button>
          </div>
          <div *ngIf="customCurb">
            <p class="text-justify p-2">
              Velux does not offer a standard skylight for this size, you will need to order a custom skylight. 
            </p>
            <button
              class="shadow bg-red-500 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 m-4 rounded"
              type="button"
              (click)="onReset()"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  