<div class="container mx-auto">
    <div class="flex flex-col items-center p-4">
      <h1 class="text-red-500 text-5xl font-bold p-4 text-center">
        Identifying what type of skylights you have
      </h1>
      <p
        class="text-red-400 text-3xl font-medium tracking-wide leading-snug text-center p-4"
      >
        This section will help decide on what type of skylight you have.
      </p>
  
      <h2 class="text-red-500 text-5xl font-bold p-4 text-center">
        Is your skylight glass or arylic?
      </h2>
      <section class="flex flex-col lg:flex lg:flex-row-reverse lg:justify-center">
        <div class="basis-1/2 max-w-md rounded overflow-visible shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/acryliccurb.jpg"
            alt="Arylic Curb-Mounteded Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">Arylic Skylights</div>
            <p class="text-gray-700 text-base">
              Arylic skylights will consist of a plastic top that can either be a
              bronze/clear arylic or white/clear arylic top. It will have a curve
              to it and possibly will be an older skylight. There are two types of
              arylic skylights which is curb-mounted or self-flashed. Please scroll 
              down to the arylic part of the page. 
            </p>
          </div>
          <div class="flex justify-center p-3">
            <h3 
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
              Scroll below  to the arylic skylight section
            </h3>
          </div>
        </div>
  
        <div class="basis-1/2 max-w-md rounded overflow-hidden shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/curbmeasure.jpg"
            alt="Glass Curb-Mounted Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">Glass Skylights</div>
            <p class="text-gray-700 text-base">
              Glass skylights will have glass instead of arylic and will be flat.
              There are three types of glass skylights. If you are unsure of what
              type of skylight you will need to scroll down to the glass section of this page.
            </p>
          </div>
          <div class="flex justify-center p-3">
            <h3
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
              Scroll below to the glass skylight section
            </h3>
          </div>
        </div>
      </section>
  
      <h2 class="text-red-500 text-5xl font-bold p-4 text-center">
        If your skylight is arylic
      </h2>
      <section class="flex flex-col lg:flex lg:flex-row-reverse lg:justify-center ">
        <div class="basis-1/2 max-w-md rounded overflow-visible shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/acryliccurb.jpg"
            alt="Arylic Curb-Mounteded Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">
              Arylic Curb-Mounted Skylight
            </div>
            <p class="text-gray-700 text-base">
              Curb-Mounted skylights can be easily identified because they are installed on top of a site-built
              curb constructed  from dimensional lumber.They will traditionally consist of two rows of screws
              around the perimter of the skylight.
            </p>
          </div>
          <div class="flex justify-center p-3">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
              <a routerLink="/idcurbmount" routerLinkActive="active">
                How to measure Curb-Mounted Skylights
              </a>
            </button>
          </div>
        </div>
  
        <div class="basis-1/2 max-w-md rounded overflow-hidden shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/acrylicselfflashed.jpg"
            alt="Glass Curb-Mounted Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">
              Arylic Self-Flashed Skylight
            </div>
            <p class="text-gray-700 text-base">
              Self-flashed skylights are found on shingle roofs, but may be found on other roof types as well. Distinguishing factors
              with an acrylic self-flashed skylight is the extended retainer ring, single row of retainer screws, and the tall thorat that extends
              off the roof. 
            </p>
          </div>
          <div class="flex justify-center p-3">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full md:mt-6 sm:mt-5 xs:mt-6"
            >
            <a routerLink="/idself" routerLinkActive="active">
              How to measure Self-Flashed skylights
            </a>
            </button>
          </div>
        </div>
      </section>
  
      <h2 class="text-red-500 text-5xl font-bold p-4 text-center">
        If your skylight is glass
      </h2>
      <section class="flex flex-col lg:flex lg:flex-row-reverse lg:justify-center ">
        <div class="basis-1/2 max-w-md rounded overflow-visible shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/selfflash.jpg"
            alt="Arylic Curb-Mounteded Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">
              Velux Self-Flashed Skylight
            </div>
            <p class="text-gray-700 text-base">
              Self-flashed skylights differ more from both deck and curb-mounted
              skylights because their curb and flashing are built into the skylight.
            </p>
          </div>
          <div class="flex justify-center p-3">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
            <a routerLink="/idself" routerLinkActive="active">
              How to measure Self-flashed skylights.
            </a>
            </button>
          
          </div>
        </div>
  
        <div class="basis-1/2 max-w-md rounded overflow-hidden shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/curbmount.webp"
            alt="Glass Curb-Mounted Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">
              Velux Curb-Mounted Skylight
            </div>
            <p class="text-gray-700 text-base">
              Curb-mounted skylights are the most common installation preference in
              low-pitch or flat-roof situations.
            </p>
          </div>
          <div class="flex justify-center p-3">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full md:mt-6 sm:mt-5 xs:mt-6"
            >
              <a routerLink="/idcurbmount" routerLinkActive="active">
                How to measure Curb-Mounted Skylights
              </a>
            </button>
          </div>
        </div>
  
        <div class="basis-1/2 max-w-md rounded overflow-hidden shadow-lg m-2">
          <img
            class="w-full"
            src="../../../assets/deckmount.jpg"
            alt="Glass Curb-Mounted Skylight"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-center text-xl mb-2">
              Velux Deck-Mounted Skylight
            </div>
            <p class="text-gray-700 text-base">
              Deck-mounted skylights nail or screw down to the roof decking and will
              typically have a low profile on the roof.
            </p>
          </div>
          <div class="flex justify-center p-3">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full md:mt-6 sm:mt-5 xs:mt-6"
            >
            <a routerLink="/iddeck" routerLinkActive="active">
              How to measure Deck-Mounted Skylights
            </a>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
  <router-outlet></router-outlet>